<div class="container">
  <ng-template [ngIf]="!sent" [ngIfElse]="alreadySent">
    <div class="mdc-textfield mdc-textfield--textarea mdc-textfield--fullwidth">
      <textarea id="textarea-css-only"
        class="mdc-textfield__input"
        rows="8"
        cols="40"
        [(ngModel)]="feedback"
        placeholder="Enter your feedback about the application"></textarea>
    </div>
    <button (click)="sendFeedback()" class="mdc-button mdc-button--raised">
      Send Feedback
    </button>
  </ng-template>

  <ng-template #alreadySent>
    Feedback Sent!
  </ng-template>

</div>
