<tk-progress *ngIf="loading"></tk-progress>
<div class="container">
  <form name="search-form">
    <div class="mdc-form-field mdc-form-field--align-end">
      <div class="mdc-textfield username-field">
        <input type="text" class="mdc-textfield__input" name="search" placeholder="Type Github User Name" [(ngModel)]="search" #searchStream="ngModel">

        <div class="mdc-textfield__bottom-line"></div>
      </div>
      <label for="css-only-textfield">username:</label>
    </div>
  </form>
  <!-- <button (click)="update()">Update User</button> -->

  <ng-template [ngIf]="!error" [ngIfElse]="template">
      <tk-user *ngIf="!error;else template" [user]="user"></tk-user>
      <section class="mdc-theme--dark">
          <ul class="mdc-list">
              <li *ngFor="let repo of repos" class="mdc-list-item">
                  <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">folder</i>
                  {{repo.name}}</li>
            </ul>
      </section>
  </ng-template>




  <ng-template #template>
    User Not found
  </ng-template>
</div>
