<header class="mdc-toolbar">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">
        <a [routerLink]="['/']" class="no-link">Github Search</a>
      </span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <a [routerLink]="['/about']" class="material-icons search align-icons no-link" aria-label="Search" alt="Search">search</a>
    </section>
  </div>
</header>

<router-outlet></router-outlet>
